POSTGRES_DB=sahil_r47o
POSTGRES_USER=sahil_r47o_user
POSTGRES_PASSWORD=M1zAYMVqToibfM7oOrWSUgnrv8sYZVOv
POSTGRES_PORT=5432

BACKEND_PORT=8000
BACKEND_CORS_ORIGINS=https://sahilfile.vercel.app/

FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8000